@using CoreProject.Models
@model IndexViewModel
 @addTagHelper "*, CoreProject"

@{
    ViewData["Title"] = "Users Page";
}
<h1>Список пользователей</h1>
<form method="get" action="GetUsers">
    <div class="form-inline">
        <label class="control-label">Имя: </label>
        @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control" })
 
        <label class="control-label">Компания: </label>
        @Html.DropDownList("company", Model.FilterViewModel.Companies as SelectList,
                htmlAttributes: new { @class = "form-control" })
 
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <th>
            <a asp-action="GetUsers"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Имя</a>
        </th>
        <th>
            <a asp-action="GetUsers" asp-route-sortOrder="@(Model.SortViewModel.AgeSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Возраст</a>
        </th>
        <th>
            <a asp-action="GetUsers" asp-route-sortOrder="@(Model.SortViewModel.CompanySort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Компания</a>
        </th>
    </tr>
    @foreach (User u in Model.Users)
    {
        <tr><td>@u.Name</td><td>@u.Age</td><td>@u.Company.Name</td></tr>
    }
</table>
<page-link page-model="Model.PageViewModel" page-action="GetUsers"
    page-url-name="@(Model.FilterViewModel.SelectedName)"
    page-url-company="@(Model.FilterViewModel.SelectedCompany)"
    page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>